# üß© Reto 2 ‚Äì pH
**Objetivo:** clasificar pH y generar alerta qu√≠mica.

**Datos:** `../data/muestras_calidad_agua.csv`

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `pH`.
3. Crea `clasificacion_pH` con tres rangos.
4. Crea `alerta_quimica` (revisi√≥n si pH < 6.5 o pH > 8.5).
5. Filtra `df_alerta` y exporta `resultado_ph.csv`.

> **Reto adicional:** promedio y desviaci√≥n est√°ndar.

In [3]:
# Escribe tu c√≥digo aqu√≠
import pandas as pd 
# paso 1 : Cargar el archivo CSV 
df = pd.read_csv("muestras_calidad_agua.csv")
# mostar las primeras filas 
df.head()

                          sitio   pH  oxigeno  temperatura
0                R√≠o Subachoque  7.2      7.8         18.5
1   Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2          R√≠o Botello (Madrid)  6.8      5.9         22.7
3  Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                   R√≠o Villeta  8.7      6.1         28.3

In [5]:
df_ph = df[["sitio", "pH"]]
df_ph

                           sitio   pH
0                 R√≠o Subachoque  7.2
1    Quebrada Honda (Facatativ√°)  6.3
2           R√≠o Botello (Madrid)  6.8
3   Afluente San Jos√© (El Rosal)  7.9
4                    R√≠o Villeta  8.7
5  Quebrada Cune (San Francisco)  6.0
6            R√≠o Tobia (Nocaima)  7.4
7       Quebrada Negra (La Vega)  7.6
8          R√≠o Baham√≥n (Sasaima)  8.1
9        R√≠o Guayuriba (La Mesa)  5.9

In [7]:
def clasificar_ph(valor):
    if valor < 6.5:
        return "√Åcido"
    elif valor <= 8.5:
        return "Neutro"
    else:
        return "B√°sico"

df_ph.loc[:, "clasificacion_pH"] = df_ph["pH"].apply(clasificar_ph)
df_ph

                           sitio   pH clasificacion_pH
0                 R√≠o Subachoque  7.2           Neutro
1    Quebrada Honda (Facatativ√°)  6.3            √Åcido
2           R√≠o Botello (Madrid)  6.8           Neutro
3   Afluente San Jos√© (El Rosal)  7.9           Neutro
4                    R√≠o Villeta  8.7           B√°sico
5  Quebrada Cune (San Francisco)  6.0            √Åcido
6            R√≠o Tobia (Nocaima)  7.4           Neutro
7       Quebrada Negra (La Vega)  7.6           Neutro
8          R√≠o Baham√≥n (Sasaima)  8.1           Neutro
9        R√≠o Guayuriba (La Mesa)  5.9            √Åcido

In [8]:
df_ph["alerta_quimica"] = df_ph["pH"].apply(lambda x: "Alerta" if (x < 6.5 or x > 8.5) else "Normal")
df_ph

                           sitio   pH clasificacion_pH alerta_quimica
0                 R√≠o Subachoque  7.2           Neutro         Normal
1    Quebrada Honda (Facatativ√°)  6.3            √Åcido         Alerta
2           R√≠o Botello (Madrid)  6.8           Neutro         Normal
3   Afluente San Jos√© (El Rosal)  7.9           Neutro         Normal
4                    R√≠o Villeta  8.7           B√°sico         Alerta
5  Quebrada Cune (San Francisco)  6.0            √Åcido         Alerta
6            R√≠o Tobia (Nocaima)  7.4           Neutro         Normal
7       Quebrada Negra (La Vega)  7.6           Neutro         Normal
8          R√≠o Baham√≥n (Sasaima)  8.1           Neutro         Normal
9        R√≠o Guayuriba (La Mesa)  5.9            √Åcido         Alerta

In [9]:
# Filtrar las muestras con alerta
df_alerta = df_ph[df_ph["alerta_quimica"] == "Revisar"]

# Mostrar el DataFrame filtrado
df_alerta

Empty DataFrame
Columns: [sitio, pH, clasificacion_pH, alerta_quimica]
Index: []

In [4]:
# Exportar el resultado a un CSV
df_alerta.to_csv("resultado_pH.csv", index=False)

NameError: name 'df_alerta' is not defined

In [6]:
import os

print("Carpeta de trabajo (cwd):", os.getcwd())
print("\nArchivos en la carpeta actual:")
for f in os.listdir():
    print(" -", f)
    
# Si tu CSV est√° en una subcarpeta 'data', lista esa carpeta tambi√©n
if os.path.isdir("data"):
    print("\nArchivos en ./data:")
    for f in os.listdir("data"):
        print(" -", f)

Carpeta de trabajo (cwd): C:\Users\User

Archivos en la carpeta actual:
 - .anaconda
 - .conda
 - .condarc
 - .continuum
 - .dotnet
 - .ipynb_checkpoints
 - .ipython
 - .jupyter
 - .ms-ad
 - 3D Objects
 - anaconda3
 - anaconda_projects
 - AppData
 - Configuraci√≥n local
 - Contacts
 - Cookies
 - Datos de programa
 - Documents
 - Downloads
 - Entorno de red
 - Favorites
 - Impresoras
 - IntelGraphicsProfiles
 - Links
 - Men√∫ Inicio
 - Mis documentos
 - muestras_calidad_agua.csv
 - Music
 - NTUSER.DAT
 - ntuser.dat.LOG1
 - ntuser.dat.LOG2
 - NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
 - NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
 - NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
 - ntuser.ini
 - OneDrive
 - Plantillas
 - Reciente
 - resultado_pH.csv
 - reto2_ph.ipynb
 - Saved Games
 - Searches
 - SendTo
 - Untitled.ipynb
 - Videos

In [7]:
import pandas as pd
df = pd.read_csv("muestras_calidad_agua.csv")
df.head()

                          sitio   pH  oxigeno  temperatura
0                R√≠o Subachoque  7.2      7.8         18.5
1   Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2          R√≠o Botello (Madrid)  6.8      5.9         22.7
3  Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                   R√≠o Villeta  8.7      6.1         28.3

In [8]:
# Extraer solo sitio y pH
df_ph = df[["sitio", "pH"]].copy()
df_ph.head()

                          sitio   pH
0                R√≠o Subachoque  7.2
1   Quebrada Honda (Facatativ√°)  6.3
2          R√≠o Botello (Madrid)  6.8
3  Afluente San Jos√© (El Rosal)  7.9
4                   R√≠o Villeta  8.7

In [9]:
# Definir funci√≥n de clasificaci√≥n
def clasificar_ph(valor):
    if valor < 6.5:
        return "√Åcido"
    elif valor <= 8.5:
        return "Neutro"
    else:
        return "B√°sico"

# Asignar columna usando .loc para evitar SettingWithCopyWarning
df_ph.loc[:, "clasificacion_pH"] = df_ph["pH"].apply(clasificar_ph)
df_ph.head()

                          sitio   pH clasificacion_pH
0                R√≠o Subachoque  7.2           Neutro
1   Quebrada Honda (Facatativ√°)  6.3            √Åcido
2          R√≠o Botello (Madrid)  6.8           Neutro
3  Afluente San Jos√© (El Rosal)  7.9           Neutro
4                   R√≠o Villeta  8.7           B√°sico

In [10]:
# Crear columna de alerta qu√≠mica
df_ph.loc[:, "alerta_quimica"] = df_ph["pH"].apply(lambda x: "Revisar" if (x < 6.5 or x > 8.5) else "Normal")

# Filtrar las muestras con alerta
df_alerta = df_ph[df_ph["alerta_quimica"] == "Revisar"]

# Mostrar las alertas (si hay)
display(df_alerta)

# Exportar a CSV solo si hay filas
if not df_alerta.empty:
    df_alerta.to_csv("resultado_ph.csv", index=False)
    print("‚úÖ Archivo 'resultado_ph.csv' guardado correctamente.")
else:
    print("‚ÑπÔ∏è No hay filas en alerta (df_alerta est√° vac√≠o). No se cre√≥ 'resultado_ph.csv'.")

                           sitio   pH clasificacion_pH alerta_quimica
1    Quebrada Honda (Facatativ√°)  6.3            √Åcido        Revisar
4                    R√≠o Villeta  8.7           B√°sico        Revisar
5  Quebrada Cune (San Francisco)  6.0            √Åcido        Revisar
9        R√≠o Guayuriba (La Mesa)  5.9            √Åcido        Revisar

‚úÖ Archivo 'resultado_ph.csv' guardado correctamente.